.zub3-bg{
    display: inline-block;
    position: absolute;
    height: 100%;
    z-index: -1;
}
.left-side-bar {
    margin-top: 12rem;
}

.main-heading {
    margin-top: 10rem;
}

.main-subheading {
    font-size: 1.2rem;
}

.main-block {
    overflow: hidden;
}
.main-block .nav-link {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}