.content-element-wrapper h2 {
    margin-bottom: 2rem;
    margin-top: 6rem;
}
.content-element-wrapper h4 {
    margin-bottom: 2rem;
}
.content-element-wrapper p {
    margin-bottom: 4rem;
}
.content-element-wrapper img {
    margin-bottom: 3rem;
}